.header {
  position:relative;
  z-index:10;
  background-color: #051923;
  box-shadow:0px 0px 5px 0px black;
}

.router {
  padding-top:70px;
}

.header-scroll {
  position:fixed;
  z-index:10;
  top:0;
  left:0;
  right:0;
}

.search-scroll {
  position:fixed;
  z-index:10;
  top:2.5%;
  right:6.5%;
  width:300px;
}

.dropdown-hidden {
  display:none;
}

h1 {
  color: #44A1C2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  padding-left: 20px;
}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #44A1C2;
}

.nav {float: left;}

.nav-link > a, .nav > a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    font-size: 17px;
}

.search-bar {
  position:relative;
  width:300px;
}

.dropdown {
  position: fixed;
  top: 7%;
  right: 6.5%;
  padding: 3px;
  margin: 0;
  width: 298px;
  background-color: #fff;
  list-style: none;
  border: 1px solid grey;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown > .searchItem {
  text-decoration: none;
  display: block;
  padding: 4px;
}

.dropdown > .searchItem > hr {
  margin: 0px;
  border-top:none;
}

.dropdown > .searchItem > li {
  padding-bottom: 5px;
}

.dropdown > .searchItem > li > a {
  color: black;
  text-decoration: none;
}

.dropdown > .searchItem:hover {

}

.dropdown > .selected {
  background-color: lightblue;
}

.nav > a:hover {
  box-shadow:inset 0px -3px 0px 0px white;
}

.search {
  float:right;
}

footer {
  color:white;
  padding:30px;
  display:flex;
  background-color: #44A1C2;
  height: 200px;
}

footer > div > h3 {
  margin:0;
  margin-bottom: 10px;
}

.nav-footer > li {
  float:none;
  padding:0;
  margin:0px 0px 3px 0px;
}

.nav-footer > li > a {
  padding:0;
}

#footer-img {
  margin-bottom:10px;
}

.ft-right {
  text-align: center;
}

.mobile {
  display: none;
}

.nav-active {
  display:none;
}

.search-active {
  display:none;
}

#mobile-search {
  display: none;
}

#mobile-search-tab {
  display: none;
}

/* media */


@media screen and (max-width:680px) {
  ul.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.responsive li {
    display: inline;
  }

  ul.responsive li a {
    display: block;
    text-align: left;
  }

  .nav-active {
    display:flex;
    justify-content: center;
  }

  .header {
    padding:0;
    margin:0;
  }

  .nav {
      display: none;
  }

  .mobile {
      width:100%;
      display:inline-flex !important;
      justify-content: space-around;
      align-items: center;
      padding:3px;
  }

  #mobile-nav {
    float:left;
  }

  #mobile-search {
  display: inline-block;
  }

  #mobile-search-tab {
      display:none;
    }

  .mobile-search {
      display:table !important;
  }

  .mobile-nav {
    display:none !important;
  }
}


@media only screen and (max-width: 991px) {
    .search {
      display:none;
    }

    #mobile-search-tab {
      display:inline-block !important;
    }

    .mobile-search {
      display:table;
    }

}

