<div class="header"><img src="./assets/Upick.png" height="70px">
<ul>
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/genre']">Categories</a></li>
    <li><a [routerLink]="['/genre']">Genre</a></li>                                                                                                                                                                                                                  
    <li class="dropdown">
        <a class="dropbtn" [routerLink]="['random']">Random</a>
    </li>
</ul>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>