<div class="header"><img src="./Upick.png" height="70px">
<ul>
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/genre']">Categories</a></li>
    <li><a [routerLink]="['/genre']">Genre</a></li>                                                                                                                                                                                                                  
    <li class="dropdown">
        <a class="dropbtn" [routerLink]="['/genre/random']">Random</a>
        <div class="dropdown-content">
            <a [routerLink]="['/genre/random']">Genres</a>
            <a [routerLink]="['/genre/random']">Categories</a>
        </div>
    </li>
</ul>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>