<div *ngIf="!!movies" class="title-wrapper">
    <h1>{{genre.name}}</h1>
    <div class="btn btn-primary random-button" (click)="getRandom()">Random {{genre.name}} Movie</div>
</div>

<div *ngIf="!!movies" class="wrapper">
    <div class="movie-block" *ngFor="let movie of movies">
        <img [routerLink]="['/movie', movie.id]" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" height="300px" width="200px">
        <h4 style="width: 200px">{{movie.title}}</h4>
    </div>
</div>

<div *ngIf="!!page && !!movies" class="pageination">
    <ngb-pagination
        (pageChange)="setPage($event)"
        [collectionSize]="800"
        [(page)]="page"
        [maxSize]="5"
        [pageSize]="20"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true">
    </ngb-pagination>
</div>