.inline {
    display: flex;
}

.list-panel {
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightblue;
    height: 50px;
    margin-bottom: 20px;
}

.list-panel li{
    list-style-type: none;
    margin: 5px;
    font-size: 20px; 
}

.pageination {
    display: flex;
    justify-content: center;
}

.pageination .btn {
    background-color: lightgray;
    margin: 20px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.random-button {
    margin: 20px 25px 10px 0px;
}

@media only screen and (max-width: 991px) {
    .title-wrapper {
        justify-content: center;
    }
    .random-button {
        margin: 0px 0px 10px 0px;
    }
}