button:focus {outline:0;}

.u-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.genres {
    display: inline-flex;
    margin: 7px;
    margin-top: 10px;
}

.btn {
    background-color: lightgray;
    font-size: 20px;
}

.btn:hover {
    background-color: #44A1C2;
}

.mobile {
    display:none;
}

@media only screen and (max-width: 991px) {
    .genres {
        display: none;
    }

    .mobile {
        display: inline-flex;
        margin: 5px;
        margin-top: 5px;
    }

    .mobile-btn {
        font-size:15px;
    }
}