.wrapper {
    margin-top: 50px;
}

.rec-wrapper {
    margin-top: 40px;
    display:flex;
    justify-content: center;
}

.movie-container {
    display:flex;
}
.custom-modal {
    opacity: 0.5 !important;
}

#title {
    font-size: 30px;
}

#date {
    margin-left: 10px;
    font-size: 30px;
}

#line1 {
    display:flex !important;
}

.recommended {
    justify-content:center;
    margin: 10px;
}