<ng-template [ngIf]="!!movie">
    <!-- Loading -->

    <div class="wrapper">
        <div class="row">
            <button *ngIf="!!genre.name" class="btn btn-success reroll" (click)="getRandom()">Reroll {{genre.name}}</button>
            <!-- On Mobile we want title above the image -->
            <div class="mobile-title">
                <h2 id="title" *ngIf = "movie.title">{{movie.title}} ({{movie.release_date.substring(0, 4)}})</h2>
            </div>
            <!-- End Mobile Title -->

            <!-- Left Column (poster, genres)-->
            <div class="col-md-4 poster">
                <img *ngIf="movie.poster_path" id="poster" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="img-responsive">
                <div class="genre-wrapper">
                    <div class="genres" *ngFor="let genre of movie.genres">
                        <button class="btn" [routerLink]="['../../genre', genre.name]" role="button">{{genre.name}}</button>
                    </div>
                </div>
            </div>
            <!-- End Left Column -->

            <!-- Right Column (description, title block, charts, movie link, etc) -->
            <div class="col-md-7 description">
                <span id="titleblock">
                    <h4 id="title" *ngIf = "movie.title">{{movie.title}} ({{movie.release_date.substring(0, 4)}})</h4>
                    <button *ngIf="movie.trailer_url" class="btn trailer_button" (click)="trailer = !trailer">Trailer</button>
                </span>

                <!-- Trailer -->
                <iframe id="iframe" *ngIf="movie.trailer_url && url && trailer"
                    width="510" height="400"
                    [src]="url">
                </iframe>

                <!-- Charts -->
                <div id="chartblock">
                    <div *ngIf="!!imdbdata" class="charts">
                        <h5 class="rating-text">{{movie.imdb_rating | number: '1.1'}}</h5>
                        <div class="chart">
                            <canvas height="100%" width="100%" id="chart"
                                #thischart
                                baseChart
                                [colors]="chart.colors"
                                [data]="imdbdata"
                                [options]="chart.options"
                                [chartType]="chart.type">
                            </canvas>

                        </div>
                        <p>IMDB Rating</p>
                    </div>

                    <div *ngIf="!!rottendata" class="charts">
                        <h5 class="rating-text">{{movie.rotten_tomatoes}}</h5>
                        <div class="chart">
                            <canvas height="100%" width="100%" id="chart"
                                #thischart
                                baseChart
                                [colors]="chart.colors"
                                [data]="rottendata"
                                [options]="chart.options"
                                [chartType]="chart.type">
                            </canvas>
                        </div>
                        <p>Rotten Tomatoes</p>  
                    </div>    
                    <!-- End Charts -->

                    <!-- Movie Links -->
                    <div *ngIf="movie.gomovies_id" class="movie-link">
                        <a [href]="gomovies"><img src="https://gomovies.to/assets/images/gomovies-logo-light.png" id= "gomovies" class="img-responsive"></a>
                    </div>
                    <!-- End Movie Links -->
                </div>

                <!-- Description panel-->
                <div class="panel panel-default" *ngIf="movie">
                    <div *ngIf="movie.overview" class="panel-heading">
                        <h3 class="panel-title">Description</h3>
                    </div>
                    <div *ngIf="movie.overview" class="panel-body">
                        {{movie.overview}}
                    </div>
                    <div *ngIf = "movie.actors" class="panel-heading">
                        <h3 class="panel-title">Cast</h3>
                    </div>
                    <div *ngIf = "movie.actors" class="panel-body">
                        {{movie.actors}}
                    </div>
                    <div *ngIf = "movie.director" class="panel-heading">
                        <h3 class="panel-title">Director</h3>
                    </div>
                    <div *ngIf = "movie.director" class="panel-body">
                        {{movie.director}}
                    </div>
                </div>
                <!-- End Description panel-->
            </div>
        </div>

        <!-- Recommended -->
            <div class="col-sm-12 rec-wrapper" *ngIf="movie.recommended && movie.recommended.length > 5">
                <h3 id="rec">You might also like..</h3><br>
                <recommendation-slider [images]="movie.recommended"></recommendation-slider>
            </div>
    </div>

</ng-template>
