.wrapper {
    margin-top: 50px;
}

.movie-container {
    display:flex;
}

#poster {

}

#title {
    font-size: 30px;
}

#date {
    margin-left: 10px;
    font-size: 30px;
}

.movie-rec-wrapper {
    justify-content: center;
    margin-top: 30px;
    display:flex;
}

.rec-wrapper {
    text-align:center;
}

#line1 {
    display:flex !important;
}

.recommended {
    justify-content:center;
    margin: 10px;
}