.wrapper {
    margin-top: 50px;
}

.description {
    margin-left: 30px;
}

#percent {
    z-index: 10000;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.rating-text {
    position: relative;
    top: 60px;
    color: white;
    font-size: 20px;
}

.trailer_button {
    background-color: #44A1C2;
    color:white;
    margin-top:7px;
    height:40px;
    font-size:20px;
    margin-left: 10px;
}

.charts {
    margin: -20px 10px 0px;
    text-align: center;
}

.genres {
    display: inline-flex;
    margin: 5px;
    margin-top: 10px;
}

.genres > .btn {
    background-color: lightgray;
    font-size: 15px;
}

.genres > .btn:hover {
    background-color: #44A1C2;
}

.genre-wrapper {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chart {
    text-align: center;
    display: inline-flex;
    background-color:grey;
    padding:5px;
    border-radius: 100px;
    height:75px;
    width:75px;
    margin-bottom: 10px;
}

.netflix {
    min-width: 200px;
}

.trailer_button {
    float: right;
}
.movie-link {
    margin: 25px;
    min-width: 300px;
}

#line2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#rec {
    text-align: center;
    width: 100%;
    align-self:flex-start;
    order:-1;
}

.movie-container {
    display:flex;
}
.custom-modal {
    opacity: 0.5 !important;
}

#title {
    font-size: 30px;
}

#date {
    margin-left: 10px;
    font-size: 30px;
}

#line1 {
    display:flex;
    justify-content: space-between;
}

#gomovies {
    margin:10px;
    max-height:40px;
}

#gomovies2 {
    margin-left:10px;
    max-height:70px;
}

.mobile-title {
    display: none;
}

@media only screen and (max-width: 991px) {
    .rec-wrapper, .trailer_button, #date, #line1 {
        display: none;
    }
    .mobile-title {
        display: inline;
        text-align: center;
    }

    .description {
        margin: 0px;
    }
    #poster {
        margin: auto;
        max-width: 250px;
    }
    .wrapper {
        margin-top: 10px;
    }
}