

.slider-container {
    overflow: hidden;
}

.slides {
    width: 500%;
    position: relative;
    overflow: hidden;
    display: flex;
    -moz-animation:rotation 60s infinite;
    -webkit-animation:rotation 60s infinite;
    animation:rotation 60s infinite;
}

.image-container {
    min-width: 235px;
    img {
        height: 300px;
        width: 200px;
    }
    h5 {
        width: 200px;
    }
}

@keyframes rotation {
0% { left: 0%; }
7.1% { left: -225px; }
14.2% { left: -470px; }
21.3% { left: -710px; }
28.4% { left: -950px; }
35.5% { left: -1190px; }
42.6% { left: -1420px; }
49.7% { left: -1655px; }
56.8% { left: -1890px; }
63.9% { left: -2125px; }
71.0% { left: -2360px; }
78.1% { left: -2595px; }
85.2% { left: -2830px; }
93.3% { left: -3040px; }
}


